:root {
    font-size: 14px;
}

* {
    margin: 0 auto;
    padding: 0;
    font-family: "Source Code Pro", monospace;
    font-style: normal;
    color: #000;
    text-decoration: none !important;
    /* outline: 1px dashed red; */
}

body {
    display: grid;
}

::selection, a:hover {
    background: #080808;
}

#I {
    height: 92.8vmin;
    margin: calc(3.6vmin - 1.75rem) 3.6vmin 3.6vmin 3.6vmin;
}

#C {
    line-height: 1.5rem;
    width: 82ch;
}

#M {
    line-height: 1rem;
}

.syntax-command {
    font-weight: 600;
}

.syntax-tag {
    font-weight: 600;
}

.syntax-delta {
    font-weight: 500;
}

.syntax-string {
    font-weight: 300;
}

.syntax-comment {
    font-weight: 200;
}

.syntax-title {
  font-weight: 700;
}

.syntax-code {
    font-weight: 500;
}

.syntax-string::selection, .syntax-command::selection, .syntax-delta::selection {
    color: #fff;
}
